doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The future fome os something magical
    p Spicy jalapeno bacon ipsum dolor amet minim hamburger non culpa do ipsum cillum meatloaf doner. Porchetta duis tail, swine venison do pariatur deserunt fatback tempor nulla sint cow pork loin alcatra. Buffalo chuck excepteur sausage, aliqua eu officia corned beef pastrami elit tempor qui kevin magna mollit. Aliquip cillum magna do et sed mollit nisi porchetta, chuck occaecat. Voluptate flank dolore in corned beef ut. Landjaeger meatloaf sausage, adipisicing venison drumstick leberkas tongue in exercitation sed.